// recompile command (in git bash in plugins/nitin folder):
//sass.bat css/base.scss css/base.css

// @import "C:/UniServerZ/www/redcap/plugins/nitin/css/_normalize.scss";
@import "_normalize.scss";

body, div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div {
	width: 100%;
}

div.row {
	flex-direction: row;
}

#select {
	padding-top: 5%;
	padding-bottom: 3%;
	div {
		padding-bottom: 20px;
	}
}

#import {
	border-left: 1px solid black;
}

select {
	min-width: 200px;
}

button {
	margin: 20px;
}

.hidden {
	display: none;
}