// recompile command (in git bash in plugins/nitin folder):
//sass.bat css/base.scss css/base.css

// @import "C:/UniServerZ/www/redcap/plugins/nitin/css/_normalize.scss";
@import "_normalize.scss";

body, div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div {
	width: 50%;
}

div.row {
	flex-direction: row;
}

.card {
	padding: 3%;
}

select {
	min-width: 200px;
}

button {
	margin: 20px;
}

.hidden {
	display: none;
}